.address-list {
  max-height: 150px;
  overflow-y: scroll;
}

.image-upload {
  margin-top: 8px;
  width: 100%;
}

ons-button.upload-button {
  border: 1px dashed #ccc;
  background-color: rgb(249, 249, 249);
  color: #333;
  height: 140px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-upload .upload-preview {
  height: 140px;
  width: 100%;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form ons-list-item .left {
  align-items: start;
}
.form ons-list-item .left ons-icon {
  line-height: 1.5em;
}
