.address-list {
  max-height: 150px;
  overflow-y: scroll;
}

.image-upload {
  margin-top: 8px;
  width: 100%;
}

.upload-button {
  border: 1px dashed #ccc;
  background-color: rgb(249, 249, 249);
  color: #333;
  height: 140px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.upload-preview {
  height: 140px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.upload-preview > img {
  width: 100%;
}

.delete-button {
  position: absolute;
  right: 6px;
  top: 0;
}
.delete-button.button--material {
  top: 6px;
}

.form ons-list-item .left {
  align-items: start;
}
.form ons-list-item .left ons-icon {
  line-height: 1.5em;
}
