.leaflet-building-icon div {
  background-color: #4E342E;
  border-radius: 50%;
  border: 1.5px solid #ffffff;
  line-height: 25px;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.leaflet-building-icon div span {
  color: #fff;
}
.leaflet-building-icon .ion {
  font-size: 17px;
  line-height: 1em;
  vertical-align: -2px;
}
.leaflet-building-icon .mki {
  font-size: 20px;
  line-height: 1em;
}
.leaflet-building-icon .mki.mki-chapel,
.leaflet-building-icon .mki.mki-building {
  vertical-align: -2px;
  font-size: 22px;
}
.leaflet-building-icon .mki.mki-museum {
  vertical-align: -1px;
}
.leaflet-building-icon .mki.mki-court_house {
  vertical-align: -2px;
}
.leaflet-building-icon .mki.mki-theatre {
  vertical-align: -3px;
}

.marker-cluster-small {
  line-height: 22px;
}
.marker-cluster-medium {
  line-height: 26px;
}
.marker-cluster-large {
  line-height: 30px;
}

.marker-cluster {
	background-clip: padding-box;
	border-radius: 100%;
  font-size: 12px;
  background-color: rgba(78, 56, 42, 0.6);
  border: 5px solid rgba(78, 56, 42, 0.2);
}
.marker-cluster div {
	text-align: center;
	border-radius: 15px;
  color: #fff;
  line-height: inherit;
}

.leaflet-container .leaflet-google-mutant .gmnoprint {
  display: none;
}
.leaflet-container .leaflet-google-mutant .gmnoprint.gm-style-cc {
  display: inherit;
}

.leaflet-container .easy-button-container .easy-button-button {
  padding: 0;
}

.category-item {
  width: 33%;
  text-align:center;
}
.category-item .category-label {
  padding-top:5px;
  font-size:13px;
  max-width:100%;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  color: #666;
}

.category-item .ons-icon {
  font-size: 30px;
}
.category-item .ons-icon.mki {
  font-size: 34px;
}
.category-item .ons-icon.mki.mki-chapel,
.category-item .ons-icon.mki.mki-building {
  font-size: 38px;
  margin-top: 2px;
}
.category-item .ons-icon.mki.mki-museum,
.category-item .ons-icon.mki.mki-court_house {
  margin-top: 2px;
}

.category-item .ons-icon.mki.mki-theatre {
  margin-top: 3px;
}
