/*
  Search bar styles
*/
.toolbar.searchbar {
  padding: 5px 8px 0;
}
.toolbar.toolbar--material.searchbar {
  padding: 5px 8px 0;
}

.toolbar.searchbar.floating + .page__background + .page__content {
  margin-top: -1px;
  top: 0;
}

.toolbar.searchbar.toolbar--transparent .center {
  box-shadow: 0 1px 2px rgba(0,0,0,.12);
  border-radius: 8px;
  border-color: transparent;
  background-color: #fff;
}

.toolbar.toolbar--material.searchbar.toolbar--transparent .center {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
  border-radius: 2px;
}

.toolbar.searchbar .toolbar-button {
  color: #666;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  border: none;
}
.toolbar.searchbar.toolbar--material .toolbar-button--material {
  color: #666;
  margin: 0;
  border: none;
}
.toolbar.searchbar.toolbar--material .toolbar-button--material .ons-icon,
.toolbar.searchbar.toolbar--material .ons-icon  {
  width: 22px;
  font-size: 22px;
  text-align: center;
}
.toolbar.searchbar .toolbar-button .ons-icon, .toolbar.searchbar .ons-icon {
  width: 17px;
  text-align: center;
}

.toolbar.searchbar .left, .toolbar.searchbar .right {
  min-width: auto;
  width: auto;
}
.toolbar.searchbar .center {
  flex: 1;
  display: flex;
  height: 34px;
  line-height: 34px;
  border-radius: 4px;
  max-width: 100%;
}
.toolbar.searchbar.toolbar--material .center {
  height: 46px;
  line-height: 46px;
}
.toolbar.searchbar .search-input {
  width: 100%;
  height: 100%;
  background-image: none;
  background-color: transparent;
  border: none;
  font-size: 17px;
  padding: 0 8px;
  line-height: inherit;
}

/*
  White background for normal text pages
*/
.page-text .page__background {
  background-color: #fff;
}

/*
  Material inputs without underbar
*/
ons-select.no-underbar select.select-input--material {
  background-image: none;
  padding: 0;
}

/*
  Forms
*/
.list-item .input-label {
  font-size: 14px;
  opacity: 0.75;
  width: 100%;
}
.list-item .error {
  padding-top: 8px;
  color: #ee0000;
  font-size: 12px;
}

/*
  Map
*/
.leaflet-map-static {
  pointer-events: none;
}
.leaflet-map-static .leaflet-pane img {
  pointer-events: none;
}
.leaflet-control .zmdi {
  font-size: 1.4em;
  line-height: inherit;
}

/*
  iOS fix
*/
ons-button, ons-button.button, ons-toolbar-button, ons-list-item, ons-fab, ons-back-button {
  cursor: pointer;
}

/*
  iOS toolbar fix
*/
.toolbar__left, .toolbar__right {
  min-width: 49px;
  width: auto;
}
.toolbar--material__left, .toolbar--material__right {
  min-width: 72px;
}
.toolbar__center {
  width: auto;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}
.toolbar__center 
.toolbar__left:empty, .toolbar__right:empty {
  min-width: 14px;
  width: auto;
}

/*
  iOS scroll fix
*/
.page__content.page__content__fix {
  -webkit-overflow-scrolling: initial!important;
}
